    <!--Copy from this point onwards -->
    
      <header>
        <nav>
          <ul class="left-buttons">
            <li><a href="/pages/fitness.html">Fitness</a></li>
            <li><a href="/pages/healthyliving.html">Healthy Living</a></li>
            <li><a href="/pages/workouts.html">Workouts</a></li>
          </ul>

          <div class="centre-nav">
            <a href="/index.html"><img src="/assets/logo/wordmark.png"></a>
          </div>

          <ul class="right-buttons">
            <button class="theme-button" id="themeButton" type="button">
              <img id="themeIcon" src="/assets/icons/computer_light.png">
            </button>
            <li><a href="/pages/contact.html">Contact</a></li>
            <li><a href="/pages/about.html">About</a></li>
            <div class="dropdown">
              <li class="account-button"><a href="#">Account</a></li>
              <div class="dropdown-items">
                <a href="#">My Account</a>
                <a href="#">Membership</a>
                <a href="#">Friends (0)</a>
                <a href="#">Settings</a>
                <div class="sign-out">
                  <a href="#">Sign Out</a>
                </div>
              </div>
            </div>
          </ul>
        </nav>
    </header>

    <!--Stop copying here-->